<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zmy.demo.mapper.LesseeMapper" >
  <resultMap id="BaseResultMap" type="com.zmy.demo.pojo.Lessee" >
    <id column="lid" property="lid" jdbcType="INTEGER" />
    <result column="lname" property="lname" jdbcType="VARCHAR" />
    <result column="ltel" property="ltel" jdbcType="VARCHAR" />
    <result column="lsex" property="lsex" jdbcType="VARCHAR" />
    <result column="lidCard" property="lidcard" jdbcType="VARCHAR" />
    <result column="lnativea" property="lnativea" jdbcType="VARCHAR" />
    <result column="laddTime" property="laddtime" jdbcType="TIMESTAMP" />
    <result column="lstatus" property="lstatus" jdbcType="INTEGER" />
  </resultMap>

</mapper>